/Ass/nbproject/private/
/Ass/build/
/Assignment/nbproject/private/
/Assignment/build/
/Assignment/dist/
/Lab2/nbproject/private/
/Vidu1/nbproject/private/
/Vidu1/build/
/Vidu2/nbproject/private/
/Vidu2/build/
/demo/nbproject/private/
/demo/build/
/demo2/nbproject/private/
/demo2/build/
/demo3/nbproject/private/
/demo3/build/
/demo1/nbproject/private/
/demo1/build/
