.studentImg {
    height: 150px;
    width: 100px;
    display: block;
    margin: 0 auto;
}

.banner {
    width: 79%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgb(255, 191, 81);
    padding: 0.5px 0px 0.5px 1%;
    line-height: 0.5;
    margin-bottom: 10px;
}
.info-banner{
    width: 79%;
    border-collapse: collapse;
    background-color: rgb(212, 212, 212);
    margin: 0 auto;
    padding: 0.5px 0px 0.5px 1%;
    margin-bottom: 10px;
}
body{
    font-family: 'Trebuchet MS', sans-serif;
}
th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid gray;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

tr:first-child {
    background-color: rgb(255, 191, 81);
}
td:first-child{
    width: 3%;
}
td:nth-child(2) {
    width: 5%;
}

td:nth-child(3) {
    width: 7%;
}
td:nth-child(4){
    width: 7%;
}
td:nth-child(5){
    width: 20%;
}
td:nth-child(6),
td:nth-child(7) {
    width: 10%;
}

a{
    text-decoration:none;
}
input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 20px 20px 75%;
}
.confirm{
    color: rgb(0, 21, 255);
    background-color: rgb(255, 191, 81);
    padding: 10px 10px;
    margin: 10px 20px 20px 75%;
    width: 125px;
    border-radius: 5px 5px 5px 5px;
}